@tailwind base;
@tailwind components;
@tailwind utilities;

.typewriter {
    overflow: hidden;
    white-space: nowrap;
    border-right: 3px solid #fff;
    width: 0;
    animation: typing 2.8s steps(20) forwards, hideCursor 0.1s linear 3s forwards;
  }
  
  /* typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 20ch; }
  }
  
  /* remove cursor after typing finishes */
  @keyframes hideCursor {
    to { border-right-color: transparent; }
  }
  
  